<%= form_with(model: message, id: dom_id(message)) do |form| %>
  <div class="input-group mt-2">
    <%= form.text_field :body, class: "form-control form-control-sm" %>
    <%= form.submit "Send", class: "btn btn-outline-primary" %>
  </div>

  <% if message.errors.any? %>
    <% message.errors.each do |error| %>
      <div class="alert alert-warning small mt-2 py-2" role="alert"><%= error.full_message %></div>
    <% end %>
  <% end %>
<% end %>
